In [47]:
my_first_list=["zero", "one", "two"]
my_first_list

['zero', 'one', 'two']

In [48]:
len(my_first_list)

3

In [49]:
my_second_list=["three", "four"]

In [50]:
my_first_list[1]

'one'

In [51]:
concat_list = my_first_list + my_second_list
concat_list

['zero', 'one', 'two', 'three', 'four']

In [36]:
print(my_first_list, len(my_first_list))
print(my_second_list, len(my_second_list))
print(concat_list, len(concat_list))

['zero', 'one', 'two'] 3
['three', 'four'] 2
['zero', 'one', 'two', 'three', 'four'] 5

In [52]:
concat_list[2::2]

['two', 'four']

One way of reversing a list

In [53]:
concat_list[::-1]

['four', 'three', 'two', 'one', 'zero']

### Adding changing the instance of an array

In [38]:
concat_list[0] = "ZERO"
concat_list

['ZERO', 'one', 'two', 'three', 'four']

### Adding and remove items:

In [39]:
concat_list.append('five')
concat_list

['ZERO', 'one', 'two', 'three', 'four', 'five']

In [40]:
popped_last_item = concat_list.pop()
print(f"The popped item is {popped_last_item}")
print(f'The list now looks like {concat_list}')

The popped item is five
The list now looks like ['ZERO', 'one', 'two', 'three', 'four']

In [41]:
popped_nth_item = concat_list.pop(1)
print(f'The popped nth item will hopefully be "{popped_nth_item}"')
print(f'The list now looks like this {concat_list}')

The popped nth item will hopefully be "one"
The list now looks like this ['ZERO', 'two', 'three', 'four']

### Sorting lists
using the `some_list.sort()` method.
- You can't return a value like you can with the above `.pop()` method

In [42]:
my_str_list = ["Mark", "Alon", "Donovan", "Zac"]
my_int_list = [1, 22, 333, 4, 5]

In [43]:
my_str_list.sort()
my_str_list

['Alon', 'Donovan', 'Mark', 'Zac']

In [44]:
my_int_list.sort()
my_int_list

[1, 4, 5, 22, 333]

### Reverse
using the `some_list.reverse()` method <br>
or the `some_list[::-1]` method.

In [60]:
my_int_list.reverse()
my_str_list.reverse()
my_int_list
my_str_list

['Zac', 'Mark', 'Donovan', 'Alon']