# Test

**Numbers**: Whole numbers (`int`) and decimals (`float`)

**Strings**: An ordered sequence of characters. Written out statements inside inverted commas. Can include numbers- as long as they are in inverted commas.

**Lists**: Ordered, mutable collection of a variety of data structures.

**Tuples**: Ordered, immutable collection of a variety of data structures.

**Dictionaries**: Unordered, mutable collection of keys with associated values.

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [47]:
(2 ** 2) * (50/2) + 0.25
(60 + (10**2) / 4 *7 ) - 134.75

100.25

What is the value of the expression 4 * (6 + 5)
-> 44

What is the value of the expression 4 * 6 + 5 
-> 29 

What is the value of the expression 4 + 6 * 5 
-> 34

What is the type of the result of the expression 3 + 1.5 + 4?<br>
-> `float`<br>
Floating point number

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
2 ** 3 # square

8

In [49]:
sqrt(4) # square root
100 ** 0.5

10.0

# Strings

In [12]:
s = 'hello'

In [14]:
# Print out 'e' using indexing
s[1]

'e'

In [15]:
## Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [17]:
s[len(s)-1]
s[-1]

'o'

# Lists

Build this list [0,0,0] two separate ways.

In [50]:
# method 1: 
arr1 = [0, 0, 0]
arr1

[0, 0, 0]

In [51]:
# another method I never thought about
list = [0] * 3
list

[0, 0, 0]

In [20]:
# method 2:
arr2 = []
for i in range(3):
  arr2.append(0)
arr2

[0, 0, 0]

In [22]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [23]:
#Sort the list below:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [52]:
# Another method called `sorted()`
list5 = [5,3,4,6,1]
sorted(list5)

[1, 3, 4, 5, 6]

# Dictionaries
sing keys and indexing, grab the 'hello' from the following dictionaries:

In [29]:
d = {'simple_key':'hello'}

d['simple_key']

'hello'

In [30]:
d = {'k1':{'k2':'hello'}}

d['k1']['k2']

'hello'

In [31]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1][0]

'hello'

In [38]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

#### Can you sort a dictionary? Why or why not?

**NO**

Dictionaries are unordered. They are mappings not sequences.

# Tuples
**What is the major difference between tuples and lists?**<br>
A tuple is an ordered, immutable collection of one or a variety of data structures.

**How do you create a tuple?**
```python
my_tuple = (1, 'two', [1,2,3], {'foo':'bar'})
```

# Sets
**What is unique about a set?**<br>
A set is an unordered collection of unique values. No duplicates allowed.

In [39]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
my_set = set(list5)
my_set

{1, 2, 3, 4, 11, 22, 33}

# Booleans
For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

```python
2 > 3 # False

3 <= 2 # False

3 == 2.0 # False

3.0 == 3 # True*

4**0.5 != 2 #False
```

In [45]:
4**0.5 != 2

False

**What is the boolean output of the cell block below?**
```python
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
```

Answer: `False`